@font-face {
	font-weight: normal;
	font-style: normal;
	
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }

body {
	background: #2f3238;
	color: #fff;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
}

a {
	outline: none;
	color: #3498db;
	text-decoration: none;
}

a:hover, a:focus {
	color: #528cb3;
}

section {
	padding: 1em;
	text-align: center;
}

.content#hover-content {
	margin: 0 auto;
	max-width: 1360px;
}

.content > h3 {
	clear: both;
	margin: 0;
	padding: 4em 1% 0;
	color: #484B54;
	font-weight: 800;
	font-size: 1.5em;
}

.content > h3:first-child {
	padding-top: 0em;
}

/* Header */
.the-header {
	margin: 0 auto;
	padding: 4em 1em;
	text-align: center;
}

.the-header h3 {
	margin: 0;
	font-weight: 800;
	font-size: 4em;
	line-height: 1.3;
}

.the-header h3 span {
	display: block;
	padding: 0 0 0.6em 0.1em;
	color: #74777b;
	font-weight: 300;
	font-size: 45%;
}


/* To Navigation Style */
.the-top {
	width: 100%;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 0.69em;
	line-height: 2.2;
}

.the-top a {
	display: inline-block;
	padding: 1em 2em;
	text-decoration: none;
	letter-spacing: 1px;
}

.the-top span.right {
	float: right;
}

.the-top span.right a {
	display: block;
	float: left;
}


@media screen and (max-width: 25em) {
	.the-header {
		font-size: 75%;
	}
	.the-icon span {
		display: none;
	}
}