/**
*
* CSS Styling for the forms section of the website and as well as the buttons
*
*@Author Hung Huynh
* 2/1/17
*/
form {
    max-width: 450px;
    margin: 0 auto 50px;
}

#name {
   margin-left: -10px;
}

#email {
    margin-left: 10px;
}

input, textarea {
    border: 2px solid $accent;
    width: 100%;
    padding: 10px;
}

textarea {
    height: 15em;
}
.contact-info-group label {
    width: 48%;
    float: left;
    
}


label {
    display: block;
    margin-bottom: 20px;
}

span {
    display: block;
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.b1 {
    
    background-color: transparent; 
    color: black; 
}

.b1:hover {
    opacity: .4;
    background-color: red;
    color: white;
}